<!--================Header Menu Area =================-->
{% extends 'introduction/base.html' %}
<!--================End Header Menu Area =================-->
<!--================Load Static Files =================-->
{% load static %}
<!--================Title For The Page =================-->
{% block title %} About Us {% endblock %}
<!--================End Title For The Page =================-->

{% block body %}
    <!-- ============================================================== -->
    <!-- Page Heading Bar -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center p-30 m-l-40">
            <h1 class="text-themecolor">About Us</h1>
            <h4 class="text-muted">Get To Know Us</h4>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- 1 Row - Discover Feature 1 -->
    <div class="row">
        <!-- Column - Used for Giving Offset -->
        <div class="col-lg-1"></div>
        <!-- Column - Feature Description -->
        <div class="col-lg-10">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="row col-lg-12">
                        <div class="col col-lg-5">
                            <div class="row">
                                <!-- Column -->
                                <div class="col p-r-0 text-center">
                                    <img src="{% static 'introduction/images/icon/title-icon.png' %}" alt="Discover Feature" class="home-card-body-image">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <h5 class="text-muted">Discover The Feature</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-left">
                                    <h2 class="">We don’t hide, we stand tall in front of challenge</h2>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-justify">
                                    Ruswift: Financial Application for managing your personal expenses and bridging the gap between the platforms like calendar, to do list, etc. This application, a user can track his daily expenses and maintain his budget with an interactive interface, will receive suggestions on reducing expenses by our system.
                                </p>
                            </div>
                        </div>
                        <div class="col p-l-20 col-lg-7">
                            <div class="blog-image p-l-20">
                                <img src="{% static 'introduction/images/popup-photo.jpg' %}" alt="img" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 1 Row -->
    <!-- 2 Row - Creating Founder Description -->
    <div class="row">
        <!-- Column - Testimonial 1 -->
        <div class="col-lg-4 p-30">
            <div class="card">
                <div class="card-block">
                    <div class="col p-30">
                        <h3>“Simply professionals”</h3>
                        <p class="text-justify text-muted">
                            Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.
                        </p>
                        <div class="text-center m-t-15">
                            <div class="col p-b-10">
                                <img class="rounded-circle testimonial-image" src="{% static 'introduction/images/users/2.jpg' %}" alt="">
                            </div>
                            <div class="col">
                                <h5 class="success p-b-0">Vishal Kharde</h5>
                                <p class="text-muted small p-t-0">Project Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column - Testimonial 2 -->
        <div class="col-lg-4 p-30">
            <div class="card">
                <div class="card-block">
                    <div class="col p-30">
                        <h3>“Simply professionals”</h3>
                        <p class="text-justify text-muted">
                            Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.
                        </p>
                        <div class="text-center m-t-15">
                            <div class="col p-b-10">
                                <img class="rounded-circle testimonial-image" src="{% static 'introduction/images/users/2.jpg' %}" alt="">
                            </div>
                            <div class="col">
                                <h5 class="success p-b-0">Vishal Kharde</h5>
                                <p class="text-muted small p-t-0">Project Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column - Testimonial 3 -->
        <div class="col-lg-4 p-30">
            <div class="card">
                <div class="card-block">
                    <div class="col p-30">
                        <h3>“Simply professionals”</h3>
                        <p class="text-justify text-muted">
                            Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.
                        </p>
                        <div class="text-center m-t-15">
                            <div class="col p-b-10">
                                <img class="rounded-circle testimonial-image" src="{% static 'introduction/images/users/2.jpg' %}" alt="">
                            </div>
                            <div class="col">
                                <h5 class="success p-b-0">Vishal Kharde</h5>
                                <p class="text-muted small p-t-0">Project Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 2 Row -->
    <!-- 3 Row - Discover Feature 2 -->
    <div class="row">
        <!-- Column - Used for Giving Offset -->
        <div class="col-lg-1"></div>
        <!-- Column - Feature Description -->
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="row p-30">
                        <div class="col col-lg-6">
                            <div class="row">
                                <!-- Column -->
                                <div class="col p-r-0 text-center">
                                    <img src="{% static 'introduction/images/icon/title-icon.png' %}" alt="Discover Feature" class="home-card-body-image">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <h5 class="text-muted">Discover The Feature</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-left">
                                    <h2 class="">It's a <b class="text-blue"><i>Finance</i></b> based Application</h2>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-justify">
                                    Ruswift is a platform which has alot of daily life usage. After doing analysis on user behaviour there are some added innovative features to make Ruswift unique, efficient, interactive and easy to use. Apart from adding unique features like categorising users, combining group expenses and personal expenses in to one application. Idea behind this is to make use of this application for the purpose of survey in the managing the finance. This idea serves as main objective of this application.
                                </p>
                            </div>
                        </div>
                        <div class="col p-l-20 col-lg-6">
                            <div class="m-l-40 m-t-30">
                                <p class="text-muted medium">Suggesting some good resources reference links to our user by which he can buy more discounted products while maintaining budget. Groups can be created to track the expense incurred. </p>
                                <div class="our_skill_inner">
                                    <div class="single_skill">
                                        <h4 class="text-muted">Income</h4>
                                        <div class="progress" data-value="100">
                                            <div class="progress-bar">
                                                <div class="progress_parcent"><span class="counter">100</span>%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_skill">
                                        <h4 class="text-muted">Expenses</h4>
                                        <div class="progress" data-value="50">
                                            <div class="progress-bar">
                                                <div class="progress_parcent"><span class="counter">50</span>%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_skill">
                                        <h4 class="text-muted">Savings</h4>
                                        <div class="progress" data-value="20">
                                            <div class="progress-bar">
                                                <div class="progress_parcent"><span class="counter">20</span>%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_skill">
                                        <h4 class="text-muted">Investments</h4>
                                        <div class="progress" data-value="30">
                                            <div class="progress-bar">
                                                <div class="progress_parcent"><span class="counter">30</span>%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_skill">
                                        <h4 class="text-muted">Management</h4>
                                        <div class="progress" data-value="100">
                                            <div class="progress-bar">
                                                <div class="progress_parcent"><span class="counter">100</span>%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 3 Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

{% endblock %}

{% block script %}
    <script>
        /*----------------------------------------------------*/
        /*  Skill Bar
        /*----------------------------------------------------*/
        function progressBarConfig () {
            var progressBar = $('.progress');
            if(progressBar.length) {
                progressBar.each(function () {
                    var Self = $(this);
                    var ProgressValue = Self.data('value');
                    Self.find('.progress-bar').animate({
                    width:ProgressValue+'%'
                    }, 1000);
                })
            }
        }
        progressBarConfig ();
    </script>
{% endblock %}
