<!--================Header Menu Area =================-->
{% extends 'introduction/base.html' %}
<!--================End Header Menu Area =================-->
<!--================Load Static Files =================-->
{% load static %}
<!--================Title For The Page =================-->
{% block title %} Services {% endblock %}
<!--================End Title For The Page =================-->

{% block body %}
    <!-- ============================================================== -->
    <!-- Page Heading Bar -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center p-30 m-l-40">
            <h1 class="text-themecolor">Services</h1>
            <h4 class="text-muted">See What We Do Best</h4>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- 1 Row - Feature's Short Description Line 1 -->
    <div class="row">
        <!-- Column - Feature 1 Short Description -->
        <div class="col-lg-3">
            <div class="card p-30 m-t-30">
                <div class="card-block">
                    <div class="row">
                        <!-- Column -->
                        <div class="col p-r-0 text-center">
                            <img src="{% static 'introduction/images/icon/f-icon-2.png' %}" alt="Calendar" class="home-card-body-image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="text-muted">Calendar</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-justify">
                            Add past, future or recurring transactions and categorize them with a bit of AI help. Track them on mobile and plan ahead on the web, or just mix things up.
                        </p>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info waves-effect">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column - Feature 2 Long Description -->
        <div class="col-lg-9">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="row col-lg-12">
                        <div class="col col-lg-5">
                            <div class="row">
                                <!-- Column -->
                                <div class="col p-r-0 text-center">
                                    <img src="{% static 'introduction/images/icon/title-icon.png' %}" alt="Discover Feature" class="home-card-body-image">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <h5 class="text-muted">Discover The Feature</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-left">
                                    <h2 class="">We don’t hide, we stand tall in front of challenge</h2>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-justify">
                                    Ruswift: Financial Application for managing your personal expenses and bridging the gap between the platforms like calendar, to do list, etc. This application, a user can track his daily expenses and maintain his budget with an interactive interface, will receive suggestions on reducing expenses by our system.
                                </p>
                            </div>
                        </div>
                        <div class="col p-l-20 col-lg-7">
                            <div class="blog-image p-l-20">
                                <img src="{% static 'introduction/images/popup-photo.jpg' %}" alt="img" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 1 Row -->
    <!-- 2 Row - Feature's Short Description Line 2 -->
    <div class="row">
        <!-- Column - Feature 3 Short Description -->
        <div class="col-lg-3">
            <div class="card p-30 m-t-30">
                <div class="card-block">
                    <div class="row">
                        <!-- Column -->
                        <div class="col p-r-0 text-center">
                            <img src="{% static 'introduction/images/icon/f-icon-2.png' %}" alt="Calendar" class="home-card-body-image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="text-muted">Calendar</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-justify">
                            Add past, future or recurring transactions and categorize them with a bit of AI help. Track them on mobile and plan ahead on the web, or just mix things up.
                        </p>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info waves-effect">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column - Feature 4 Short Description -->
        <div class="col-lg-3">
            <div class="card p-30 m-t-30">
                <div class="card-block">
                    <div class="row">
                        <!-- Column -->
                        <div class="col p-r-0 text-center">
                            <img src="{% static 'introduction/images/icon/f-icon-2.png' %}" alt="Calendar" class="home-card-body-image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="text-muted">Calendar</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-justify">
                            Add past, future or recurring transactions and categorize them with a bit of AI help. Track them on mobile and plan ahead on the web, or just mix things up.
                        </p>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info waves-effect">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column - Feature 5 Short Description -->
        <div class="col-lg-3">
            <div class="card p-30 m-t-30">
                <div class="card-block">
                    <div class="row">
                        <!-- Column -->
                        <div class="col p-r-0 text-center">
                            <img src="{% static 'introduction/images/icon/f-icon-2.png' %}" alt="Calendar" class="home-card-body-image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="text-muted">Calendar</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-justify">
                            Add past, future or recurring transactions and categorize them with a bit of AI help. Track them on mobile and plan ahead on the web, or just mix things up.
                        </p>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info waves-effect">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column - Feature 6 Short Description -->
        <div class="col-lg-3">
            <div class="card p-30 m-t-30">
                <div class="card-block">
                    <div class="row">
                        <!-- Column -->
                        <div class="col p-r-0 text-center">
                            <img src="{% static 'introduction/images/icon/f-icon-2.png' %}" alt="Calendar" class="home-card-body-image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="text-muted">Calendar</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-justify">
                            Add past, future or recurring transactions and categorize them with a bit of AI help. Track them on mobile and plan ahead on the web, or just mix things up.
                        </p>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info waves-effect">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 2 Row -->
    <!-- 3 Row - Feature's Long Description Line 3 -->
    <div class="row">
        <!-- Column - Used for Giving Offset -->
        <div class="col-lg-2"></div>
        <!-- Column - Finance Breakpoints -->
        <div class="col-lg-8 col-xlg-9 col-md-8">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="blog-image">
                        <div class="row">
                            <div class="col"><img src="{% static 'introduction/images/portfolio/ms-p-3.jpg' %}" alt="img" class="img-responsive"/></div>
                            <div class="col"><img src="{% static 'introduction/images/portfolio/ms-p-8.jpg' %}" alt="img" class="img-responsive"/></div>
                            <div class="col"><img src="{% static 'introduction/images/portfolio/ms-p-2.jpg' %}" alt="img" class="img-responsive"/></div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div>
                            <h3 class="card-title">Let Us Help You Build Your Finance Strong</h3>
                            <h6 class="card-subtitle">Overview of Cash Inflow / Outflow</h6>
                        </div>
                    </div>
                    <p class="m-t-20 m-b-20">
                        Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis. Nunc nec maximus dui, vel suscipit dolor. Donec elementum velit a orci facilisis rutrum. Nam convallis vel erat id dictum. Sed ut risus in orci convallis viverra.
                    </p>
                    <ul>
                        <li><a href="#">Nunc nec maximus dui, </a></li>
                        <li><a href="#">Aenean pellentesque elit vitae</a></li>
                        <li><a href="#">Aenean pellentesque elit vitae</a></li>
                        <li><a href="#">Ex mauris, ornare eget pretium </a></li>
                        <li><a href="#">Cras ex mauris, ornare eget preti</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

{% endblock %}

